{% extends "core.html" %}
{% set page_title = "Confirm choices" %}

{% block pageContent %}
<div class="ons-page__container ons-container ons-u-pt-m ons-u-pb-l">
    <main id="main-content" class="ons-grid ons-grid--column@xxs@s">
        <div class="ons-grid__col ons-col-12 ons-col@l-10">

            {% block page_body %}
            <h1 class="ons-u-fs-xxl ons-u-mb-m">Confirm choices</h1>
            <p class="ons-p">
                Coming soon - for now check the job started in GCP.
            </p>
            {% endblock %}
        </div>
    </main>
</div>
{% endblock %}
