{% extends "core.html" %}
{% set page_title = "View reports" %}

{% block pageContent %}
<div class="ons-page__container ons-container ons-u-pt-m ons-u-pb-l">
    <main id="main-content" class="ons-grid ons-grid--column@xxs@s">
        <div class="ons-grid__col ons-col-12 ons-col@l-10">

            <h1 class="ons-u-fs-xxl ons-u-mb-m">View reports</h1>

            {% if reports %}
                <p class="ons-u-mb-m">
                    Select a report to view it in the browser.
                </p>

                <table class="ons-table">
                    <caption class="ons-table__caption ons-u-vh">
                        Available markdown reports
                    </caption>
                    <thead class="ons-table__head">
                        <tr class="ons-table__row">
                            <th scope="col" class="ons-table__header">Report name</th>
                            <th scope="col" class="ons-table__header">Date created</th>
                            <th scope="col" class="ons-table__header">Action</th>
                        </tr>
                    </thead>
                    <tbody class="ons-table__body">
                        {% for report in reports %}
                            <tr class="ons-table__row">
                                <td class="ons-table__cell">{{ report.title }}</td>
                                <td class="ons-table__cell">{{ report.created }}</td>
                                <td class="ons-table__cell">
                                    <a href="{{ url_for('ui.view_report', filename=report.filename) }}">
                                        View report
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No reports found.</p>
            {% endif %}

        </div>
    </main>
</div>
{% endblock %}
