export FILE_STORE="<LOCAL or GCP>"
export BUCKET_NAME="<staging-bucket-name"
export PROJECT_ID="<gcp-project-id>"
export WORKFLOW_NAME="<gcp-workflow-name>"
export WORKFLOW_REGION="<gcp-workflow-region>"
export CR_JOB_NAME="<cloud-run-job-name>"
export CR_JOB_REGION="<cloud-run-job-region>"
